<ion-header>
  <ion-toolbar>
    <ion-title>
      <span class="game-text">Game</span>
      <span class="library-text">Library</span>
    </ion-title>
  </ion-toolbar>
  <div class="blue-line"></div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let jeu of jeux" [routerLink]="['/games', jeu.id]">
      <ion-thumbnail slot="start">
        <img [src]="jeu.logo" alt="{{ jeu.name }}" />
      </ion-thumbnail>
      <ion-label>{{ jeu.name }}</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" [routerLink]="['/game/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>